# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.env
.venv
env/
venv/
pip-log.txt

# Jupyter Notebooks
.ipynb_checkpoints/

# VSCode
.vscode/

# Dados e modelos
dataset/
labels/
models/
results/
*.pt
*.pth
*.h5
*.ckpt

# Arquivos temporários e de sistema
.DS_Store
Thumbs.db
ehthumbs.db
*.bak
*.tmp

# Arquivos de configuração pessoais
*.swp
*.swo
